/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS RESET ENDS */
.pricingcircle {
    font-size: 30px;
    background: #705ecf;
    width: 90px;
    height: 90px;
    line-height: 2.9;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.23);
    text-shadow: 0 2px 12px rgba(12, 12, 12, 0.28);
    color: white;
    text-align: center;
    border-radius: 50%;
    font-family: 'Poppins' !important;
    font-weight: 500;
    margin: 0 auto;
    position: absolute;
    top: -74px;
    left: 35%;
}
.pricingcontent {
    border: 1px solid white;
    max-width: 270px;
    text-align: center !important;
    margin: 0 auto;
   
}
.pricingcontent p {
    text-align: center !important;
    padding: .7rem 0;
}
.pricingsubcontainer {
    text-align: center;
    border: 1px solid #ddd;
    width: 270px;
    position: relative;
    transition: 0.8s;
}
.uperpadding {
    padding: 1.5rem;
}
.bottompadding {
margin-bottom: 30px;
}
.pricingparent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 150px;
}
.pricingshadow {
    box-shadow: 1px 2px 16px 2px #d8d8d8;
}
.hovershadow:hover { 
    box-shadow: 1px 2px 16px 2px #d8d8d8;
  }